<footer>
    <p>Copyright &copy; 2023 by YelChannel</p>

    <!-- Your other footer content here -->
</footer>




<div class="social-link">

    <a href="https://www.facebook.com">
        <img src="svg/Facebook.svg" alt="SVG Facebook">
    </a>

    <a href="https://www.instagram.com">
        <img src="svg/Instagram.svg" alt="SVG Instagram">
    </a>

    <a href="https://www.linkedin.com">
        <img src="svg/LinkedIn.svg" alt="SVG LinkedIn">
    </a>

    <a href="https://www.youtube.com">
        <img src="svg/YouTube.svg" alt="SVG YouTube">
    </a>


</div>

